<h1>Houses#index</h1>
<p>Log into House</p>

<%= form_with url: login_house_path do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :Code%><br>
    <%= form.text_area :code %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Create New House", new_house_path %>